body {
	font-family: sans-serif;
	color: red;
}

.col-ano-ocorrencia{
	padding-top: 1em;
	background-color: #282828;
}

.col-uf-ocorrencia{

	padding-top: 1em;
	padding-left: 1em;
	background-color: #282828;
	border-left: solid;
	border-color: #282424;
	border-width: 10px;
}

.rc-slider-step{
	background-color: #404040;

}

.rc-slider-handle{
	border-style: solid;
	border-color: lightcoral;
}

.rc-slider-dot{
	border-style: solid;
	border-width: 0.1em;
	border-color: white;
} 

.rc-slider-dot-active{
	border-style: solid;
	border-color: lightcoral;
}

.rc-slider-handle:hover{
	border-style: solid;
	border-color: coral;
}

.rc-slider-mark-text{
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #999;
	font-size: 7.5px;
}

.year-slider{
	background-color: #282828;
}

.dropdown-states{
	padding: 0 0 0 1em;
	background-color: #282828;
	height: 30px;
	font-size: 8px;
	align-content: center;
}

.container-row-filters{
	display: flex;
	justify-content: space-between;
	margin-right: 0;
	margin-left: 0;
}

#bar-plot{
	margin-top: 5%;
}

#line-plot{
	height: 50%;
	background-color: #282828;
}